html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *::after, *::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
*:before, *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}


.c-module {
  padding: 16px;
  background: #eee;
  width: 100%;
}
@media screen and (min-width: 768px) and (max-width: 959px) {
  .c-module {
    padding: 24px;
  }
}
@media screen and (min-width: 960px) {
  .c-module {
    padding: 32px;
  }
}
.c-module__inner {
  background: grey;
  height: 100%;
  padding: 16px;
}
@media screen and (min-width: 768px) and (max-width: 959px) {
  .c-module__inner {
    padding: 24px;
  }
}
@media screen and (min-width: 960px) {
  .c-module__inner {
    padding: 32px;
  }
}
.c-module--small {
  padding: 8px;
}
@media screen and (min-width: 768px) and (max-width: 959px) {
  .c-module--small {
    padding: 12px;
  }
}
@media screen and (min-width: 960px) {
  .c-module--small {
    padding: 16px;
  }
}
.c-module p {
  margin: 0;
}

.o-container {
  padding: 16px;
}
@media screen and (min-width: 768px) and (max-width: 959px) {
  .o-container {
    padding: 24px;
  }
}
@media screen and (min-width: 960px) {
  .o-container {
    padding: 32px;
  }
}

body {
  background-color: #ccc;
  font-family: sans-serif;
  padding: 0;
  margin: 0;
}

h2, h3, h4 {
  margin: 0 0 1em;
}

p {
  margin: 0 0 1em;
}
